body {
	background-color: #DCE9E9;
	font-family: Arial, sans-serif;

}

header {
	height: 120px;
	margin: 0px 10px 20px 10px;
	background-color: #6A849E;
}
canvas {
	border: 8px solid #1F354B;
}

.canvas {
	text-align: center;
}

.points {
	color: white;
	float: left;
	margin-left: 40px;
}
h1 {
	font-weight: 200;
	font-size: 50px;
}

.buttons {
	float: right;
	text-align: center;
	margin: 35px 20px 0px 20px;

}

button {
	color: white;
	background: #0e4b70;
	padding: 15px;
	font-size: 25px;

}

.triv {
	position: absolute;
	top: 0px;
	margin: 15% 35%;
	height: 400px;
	width: 400px;
	background-color: #33164F;
	color: white;
}

ul {
	margin-left: 50px;
	font-size: 20px;
}

.questionHeading {
	margin-left: 40px;
}

.trivTime {
	position: absolute;
	top: 0px;
	margin: 5% 38%;
	color: #33164F;
	text-shadow: 2px 1px 1px black;


}
